.Main
  .Left-contents
    = link_to'ウィークリー'
    = link_to 'デイリー'
    = link_to 'タイムリー'
    = image_tag 'soneoogiri.jpg', alt: "デイリー", class: "main-img"
  .Right-contents
    .Comments-box
      .name
        投稿者:ヴィゴ
      .coment
        殴り返すwww
      .commente-created-at
        <２０２０年○月○日>

    .Comments-box
      .name
        投稿者:ヴィゴ
      .coment
        殴り返すwww
      .commente-created-at
        <２０２０年○月○日>

    .Comments-box
      .name
        投稿者:P子さん
      .coment
        前髪が神です
      .commente-created-at
        <２０２０年○月○日>

    .Comments-box
      .name
        投稿者:加藤
      .coment
        左下で募集中の部長が気になるわ
      .commente-created-at
        <２０２０年○月○日>