.Side-bar
  <サイドバー>
  .Event
    .Event-name
      <大喜利><募集中>
      = link_to '#'
    .Event-created-at
      <２０２０年○月○日>create
    .Event-images
      = image_tag 'sone.jpg', alt: "デイリー", class: "main-img"
    .Event-finish-at
      finish<２０２０年○月○日>
  .Event
    .Event-name
      <大喜利><募集中>
      = link_to '#'
    .Event-created-at
      <２０２０年○月○日>create
    .Event-images
      = image_tag 'bucyo.jpg', alt: "デイリー", class: "main-img"
    .Event-finish-at
      finish<２０２０年○月○日>